body, .section_contact_wrapper, .footer_wrapper, .section_info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main_slider .slider_item .slider_item__wrapper, .section_team .section_team_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header_menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .header__wrapeer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_menu nav ul li, .footer_wrapper nav ul, .footer_wrapper .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_slider .slider_item .slider_item__wrapper a, .section_contact_wrapper a, .section_team .section_team_description a {
  padding: calc(15px + 5 * (100vw / 1920)) calc(35px + 20 * (100vw / 1920));
  position: relative;
  text-decoration: none;
  outline: none;
  background-color: #e1aa6e;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 99;
}

.main_slider .slider_item .slider_item__wrapper a::after, .section_contact_wrapper a::after, .section_team .section_team_description a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 10px;
  background-color: #ba8e5b;
}

.main_slider .slider_item .slider_item__wrapper a:hover::before, .section_contact_wrapper a:hover::before, .section_team .section_team_description a:hover::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(186, 142, 91, 0.2);
  z-index: 2;
}

.main_slider .slider_item .slider_item__wrapper h2, .section_people .section_people_wrapper h2, .section_team .section_team_description h2 {
  font-size: calc(28px + 20 * $size_port);
  font-weight: 900;
  color: white;
  line-height: 1.2;
}

.main_slider .slider_item .slider_item__wrapper h2 span::after, .section_team .section_team_description h2 span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #00b5d2;
}

.main_slider .slider_item .slider_item__wrapper p, .section_people .section_people_wrapper p, .section_team .section_team_description p {
  font-size: calc(14px + 4 * $size_port);
  color: white;
  line-height: 1.667;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block_w {
  width: 100%;
}

.all_wrapper_w {
  width: 95%;
  margin: 0 auto;
}

.is_mobile {
  display: none;
}

html {
  width: 100%;
}

body {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  min-width: 320px;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  position: relative;
}

header {
  padding-top: calc(20px + 20 * (100vw / 1920));
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999999999999;
}

header .header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_menu nav ul li {
  list-style: none;
  position: relative;
  margin-right: calc(20px + 21 * (100vw / 1920));
}

header .header_menu nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #454546;
  line-height: 1.2;
  padding: 10px 0 calc(25px + 20 * (100vw / 1920)) 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header .header_menu nav ul li:last-of-type {
  margin-right: 0;
}

header .header_menu nav ul li.active_page a {
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}

header .header_menu nav ul li.active_page::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #00b5d2;
  left: 0;
  bottom: 0;
}

header .header_menu nav ul li:hover a {
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header .header_menu nav ul li:hover::after {
  content: '';
  position: absolute;
  height: calc(3px + 2 * (100vw / 1920));
  width: 100%;
  background-color: #00b5d2;
  bottom: 0;
  left: auto;
  right: auto;
  -webkit-animation: border__width 0.3s ease;
  animation: border__width 0.3s ease;
}

header.with-effect-bg {
  background-color: #ba8e5b;
}

.main_slider .slider_item .slider_item__wrapper {
  height: 100%;
  padding: calc(40px + 70 * (100vw / 1920)) 0;
}

.main_slider .slider_item .slider_item__wrapper h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: calc(10px + 5 * (100vw / 1920));
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.main_slider .slider_item .slider_item__wrapper h2 span {
  position: relative;
  padding: 0 0 calc(13px + 5 * (100vw / 1920)) 0;
}

.main_slider .slider_item .slider_item__wrapper p {
  width: 30%;
  margin-bottom: calc(15px + 20 * (100vw / 1920));
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.main_slider .slider_item .slider_item__wrapper a:hover::before {
  -webkit-animation: btn__width 0.5s linear;
  animation: btn__width 0.5s linear;
}

.section_company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_company .company_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(16.66666666666666% - (20px + 100 * (100vw / 1920)));
  margin-right: calc(20px + 100 * (100vw / 1920));
  padding: calc(15px + 10 * (100vw / 1920)) 0;
}

.section_company .company_item img {
  width: 100%;
  height: auto;
}

.section_company .company_item:last-of-type {
  margin-right: 0;
}

.section_people {
  padding-top: calc(40px + 55 * (100vw / 1920));
  background-color: #00b5d2;
}

.section_people .section_people_wrapper {
  width: 79%;
  margin: 0 auto;
}

.section_people .section_people_wrapper h2 {
  text-align: center;
  margin-bottom: calc(10px + 10 * (100vw / 1920));
}

.section_people .section_people_wrapper p {
  text-align: center;
  margin-bottom: calc(40px + 28 * (100vw / 1920));
}

.section_people .section_people_wrapper img {
  width: 100%;
  height: auto;
}

.section_contact_wrapper {
  width: 63%;
  margin: 0 auto;
  padding: calc(40px + 30 * (100vw / 1920)) 0;
}

.section_contact_wrapper h3 {
  font-size: calc(16px + 8 * (100vw / 1920));
  color: #777777;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: calc(15px + 15 * (100vw / 1920));
}

.section_contact_wrapper p {
  font-size: calc(14px + 4 * (100vw / 1920));
  color: #444444;
  line-height: 1.667;
  text-align: center;
  margin-bottom: calc(20px + 20 * (100vw / 1920));
}

.section_contact_wrapper a:hover::before {
  -webkit-animation: btn__width 0.5s linear;
  animation: btn__width 0.5s linear;
}

.section_piture {
  background-color: #1b97c5;
  margin-bottom: calc(40px + 70 * (100vw / 1920));
}

.section_piture .section_piture_wrapper {
  width: 100%;
  height: 100%;
  padding-top: calc(75px + 70 * (100vw / 1920));
}

.section_piture .section_piture_wrapper .slider_picture {
  width: 63%;
  margin: 0 auto;
  margin-bottom: -50px;
  border: 8px solid white;
  z-index: 999;
}

.section_piture .section_piture_wrapper .slider_picture .slider_picture_item {
  width: 100%;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.section_piture .section_piture_wrapper .slider_picture .slider_picture_item img {
  width: 100%;
  height: auto;
}

.section_piture .section_piture_wrapper .slider_picture .slider_picture_item:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 181, 210, 0.302);
}

.section_team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: calc(30px + 30 * (100vw / 1920));
}

.section_team .section_team_item {
  width: 50%;
}

.section_team .section_team-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_team .section_team_description {
  padding: calc(15px + 20 * (100vw / 1920)) 2.5vw calc(15px + 20 * (100vw / 1920)) calc(15px + 15 * (100vw / 1920));
  background-color: #367ab7;
}

.section_team .section_team_description h5 {
  font-size: calc(14px + 4 * (100vw / 1920));
  color: white;
  font-style: italic;
  line-height: 1.667;
  text-align: left;
  margin-bottom: calc(15px + 15 * (100vw / 1920));
}

.section_team .section_team_description h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.section_team .section_team_description h2 span {
  position: relative;
  padding: 0 0 18px 0;
}

.section_team .section_team_description p {
  margin-bottom: calc(25px + 20 * (100vw / 1920));
}

.section_team .section_team_description a {
  background-color: #00b5d2;
}

.section_team .section_team_description a::after {
  background-color: #008ea5;
}

.section_team .section_team_description a:hover::before {
  -webkit-animation: btn__width 0.5s linear;
  animation: btn__width 0.5s linear;
  background-color: rgba(0, 142, 165, 0.2);
}

.footer_wrapper {
  width: 79%;
  margin: 0 auto;
  border-top: 1px solid #cccccc;
  border-bottom: 3px solid #eeeeee;
  padding: 45px 0;
}

.footer_wrapper nav {
  margin-bottom: calc(20px + 20 * (100vw / 1920));
}

.footer_wrapper nav ul {
  margin: 0 auto;
}

.footer_wrapper nav ul li {
  list-style: none;
  margin-right: calc(30px + 30 * (100vw / 1920));
}

.footer_wrapper nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #999999;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.footer_wrapper nav ul li:last-of-type {
  margin-right: 0;
}

.footer_wrapper .footer_social {
  margin-bottom: calc(25px + 20 * (100vw / 1920));
}

.footer_wrapper .footer_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: calc(25px + 30 * (100vw / 1920));
}

.footer_wrapper .footer_social a:last-of-type {
  margin-right: 0;
}

.footer_wrapper p {
  font-size: 14px;
  color: #aaaaaa;
  line-height: 1.929;
  text-align: center;
  margin-bottom: 15px;
}

.footer_wrapper a {
  font-size: 13px;
  color: #e1aa6e;
  font-weight: 700;
  line-height: 2.109;
}

.section_info_wrapper {
  padding: calc(15px + 15 * (100vw / 1920)) 0 calc(25px + 30 * (100vw / 1920)) 0;
}

.section_info_wrapper p {
  font-size: 12px;
  color: rgba(170, 170, 170, 0.6);
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .main_slider .slider_item {
    background-position: 35% center !important;
  }
  .main_slider .slider_item .slider_item__wrapper p {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  header {
    background-color: #ba8e5b;
    padding-bottom: 20px;
  }
  header .header_logo a img {
    width: 50%;
    height: auto;
  }
  header .header_menu {
    top: 0;
    position: fixed;
    left: 0;
    -webkit-transition: height .25s linear;
    transition: height .25s linear;
    width: 100%;
    z-index: 99999999;
    overflow-y: auto;
    height: calc(100vh);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
    background-color: #1b97c5;
  }
  header .header_menu nav {
    width: 100%;
    height: 100%;
    padding: 80px 0 40px 0;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header_menu nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header .header_menu nav ul li a {
    padding: 30px 0;
  }
  header .header_menu nav ul li.active_page::after {
    display: none;
  }
  header .header_menu nav ul li:hover:after {
    display: none;
  }
  header .header_menu nav #close_menu {
    padding: 20px 22px;
    z-index: 999999;
    position: absolute;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: none;
  }
  header .header_menu nav #close_menu span {
    position: relative;
  }
  header .header_menu nav #close_menu span:after,
  header .header_menu nav #close_menu span:before {
    content: '';
    background: white;
    width: 30px;
    height: 1px;
    position: absolute;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  header .header_menu nav #close_menu span:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
    right: calc(50% - 15px);
  }
  header .header_menu nav #close_menu span:before {
    top: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    right: calc(50% - 15px);
  }
  header .active-show-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .is_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .is_mobile button {
    padding: 15px 22px;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .is_mobile button span:before,
  .is_mobile button span::after {
    content: '';
    background: white;
    width: 30px;
    height: 2px;
    position: absolute;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .is_mobile button span {
    -webkit-transition: .2s linear;
    transition: .2s linear;
    background: white;
    width: 30px;
    height: 2px;
    position: absolute;
  }
  .is_mobile button span::after {
    top: -10px;
    right: calc(50% - 15px);
  }
  .is_mobile button span:before {
    top: 10px;
    right: calc(50% - 15px);
  }
  .section_company {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section_company .company_item {
    width: calc(33.333333% - (20px + 100 * (100vw / 1920)));
    margin-right: calc(20px + 100 * (100vw / 1920));
    padding: calc(15px + 10 * (100vw / 1920)) 0;
  }
  .section_company .company_item img {
    height: auto;
  }
  .section_company .company_item:nth-of-type(3n) {
    margin-right: 0;
  }
  .section_company .company_item:nth-of-type(n + 4) {
    margin-top: 10px;
  }
  .section_piture .section_piture_wrapper .slider_picture {
    width: 95%;
    margin-bottom: -20px;
  }
  .section_team .section_team-img {
    display: none;
  }
  .section_team .section_team_description {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: flex-start;
            flex-direction: flex-start;
  }
  .footer_wrapper {
    width: 95%;
  }
  .footer_wrapper nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer_wrapper nav ul li {
    margin-right: 0;
    padding: 10px 0;
  }
}

@-webkit-keyframes border__width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes border__width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes btn__width {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
    left: auto;
    right: 0;
  }
}

@keyframes btn__width {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
    left: auto;
    right: 0;
  }
}
/*# sourceMappingURL=style.css.map */