%message-flex_column_c_s{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
}

body{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    min-width: 320px;
    height: 100%;
    background-color: red;
    @extend %message-flex_column_c_s;
}